{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ==================1st============= -->

<h1 class="heading">
  <span>w</span>
  <span>h</span>
  <span>o</span>
  <span class="space"></span>
  <span>l</span>
  <span>o</span>
  <span>v</span>
  <span>e</span>
  <span class="space"></span>
  <span>b</span>
  <span>e</span>
  <span>a</span>
  <span>c</span>
  <span>h</span>
</h1>

<div class="card-group">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <video src="{% static 'videos/gallery3.mp4' %}" ></video>
      <div class="card-body">
        <h5 class="card-title">Romantic couple walk along a beach at sunset</h5>
        <p class="card-text">Romantic walk of a couple of a man and a woman along a peaceful beach
             with palm trees and mountains around, during sunset.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card"> 
      <!-- <img src="..." class="card-img-top" alt="..."> -->
       <video src="{% static 'videos/gallery1.mp4' %}" ></video>
      <div class="card-body">
        <h5 class="card-title">Waves coming to the beach</h5>
        <p class="card-text">Shore of a beach while the small waves of the sea arrive creating white foam on the sand,
             on a clear day and the horizon in the background as a straight line that separates the sea from the sky.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
      </div>
    </div>
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <video src="{% static 'videos/gallery2.mp4' %}" ></video>
      <div class="card-body">
        <h5 class="card-title">Palm tree on a sunny day</h5>
        <p class="card-text">Palm tree as the air moves its leaves, with the sky almost clear in
             the background with a couple of clouds, and the warm and bright sun.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
      </div>
    </div>
  </div>

  <!-- =============2nd================== -->
   <br>
   <br> 
   <h1 class="heading">
    <span>w</span>
    <span>h</span>
    <span>o</span>
    <span class="space"></span>
    <span>l</span>
    <span>o</span>
    <span>v</span>
    <span>e</span>
    <span class="space"></span>
    <span>d</span>
    <span>i</span>
    <span>v</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
  </h1>
  <div class="card-group">
    <div class="card">
      <img src="{% static 'images/about1.jpg' %}" class="card-img-top" alt="PRIYA">
      <!-- <video src="{% static 'videos/about1.mp4' %}" ></video> -->
      <div class="card-body">
        <h5 class="card-title">Learn on Vacation</h5>
        <p class="card-text">If you want to get a head start on your scuba certification but prefer to complete your open water training dives on vacation where you will be doing most of your diving, you can complete your knowledge development and pool practice at home first. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
        <img src="{% static 'images/div2.jpg' %}" class="card-img-top" alt="PRIYA">
      <!-- <img src="..." class="card-img-top" alt="...">
       <video src="{% static 'videos/gallery1.mp4' %}" ></video> -->
      <div class="card-body">
        <h5 class="card-title">Dive – Racha Yai Day Trip</h5>
        <p class="card-text">If you are limited on time and looking at scuba diving in Phuket the shortest scuba diving day trip on offer is 2 dive trip to Racha Yai. It is a basic and simple scuba dive day, better suited to beginner divers. Racha Yai dive sites are a great opportunity to do the PADI Discover Scuba Diving Experience and PADI ReActivate programs. In October 2023, a new wreck was added to the underwater landscape between bays 1 and 2 of Racha Yai. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
      </div>
    </div>
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <!-- <video src="{% static 'videos/gallery2.mp4' %}" ></video> -->
      <img src="{% static 'images/div3.jpg' %}" class="card-img-top" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">A Day Trip to Phi Phi – More Than Just Scuba Diving</h5>
        <p class="card-text">One of the most popular scuba diving day trips in Phuket is to the Phi Phi Islands. The islands are situated approximately 46 km’s east of Chalong Bay, Phuket. They are around 2 hours and 40 minutes boat ride on the larger day trip dive boats. The Phi Phi Islands are a group of 6 islands that make up the Hadnopparattara National Park. The Islands consist of Koh Phi Phi Don, Koh Phi Phi Ley, Koh Bida Nok, Koh Bida Nai, Mosquito Islan [...]

        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
      </div>
    </div>
  </div>
<!-- =====================3rd========== -->
<br>
<br> 
<h1 class="heading">
 <span>w</span>
 <span>h</span>
 <span>o</span>
 <span class="space"></span>
 <span>l</span>
 <span>o</span>
 <span>v</span>
 <span>e</span>
 <span class="space"></span>
 <span>h</span>
 <span>i</span>
 <span>k</span>
 <span>i</span>
 <span>n</span>
 <span>g</span>
</h1>
<div class="card-group">
 <div class="card">
   <img src="{% static 'images/hikers1.jpg' %}" class="card-img-top" alt="PRIYA">
   <!-- <video src="{% static 'videos/about1.mp4' %}" ></video> -->
   <div class="card-body">
     <h5 class="card-title">Hiking for Older people</h5>
     <p class="card-text">This is not another patronising blog about senior citizens needing to take it easy on the trail.  At Outdoor Adventure Store, we are well aware from customer feedback and our own experiences, that there is no statute of limitations on backpacking. Anyone who has been left gasping for breath, overtaken by sprightly seniors striding up mountain trails can attest to the fitness level of many in the older generation.  It’s all about gaining and maintaining a level of fitness. </p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>
 <div class="card">
     <img src="{% static 'images/hikers2.jpg' %}" class="card-img-top" alt="PRIYA">
   <!-- <img src="..." class="card-img-top" alt="...">
    <video src="{% static 'videos/gallery1.mp4' %}" ></video> -->
   <div class="card-body">
     <h5 class="card-title">The most impressive hiking trails in Puerto Vallarta</h5>
     <p class="card-text">Hiking is an economical and environmentally friendly activity as well as magical due to its impressive landscapes, enchanting waterfalls and beautiful surroundings. When you are surrounded by incredible views of the bay and the mountains you will be able to take some of the best photos of your vacation.

      There are trails suitable for everyone, from beginners to advanced hikers, meaning everyone can join in on the fun. </p>
     <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
   </div>
 </div>
 <div class="card">
   <!-- <img src="..." class="card-img-top" alt="..."> -->
   <!-- <video src="{% static 'videos/gallery2.mp4' %}" ></video> -->
   <img src="{% static 'images/hikers3.jpg' %}" class="card-img-top" alt="PRIYA">
   <v class="card-body">
     <h5 class="card-title">Hiking 101 in Vermont</h5>
     <p class="card-text">Vermont is beautiful year-round for an outdoor excursion, but “Hiking Season” is generally considered to be between Memorial Day (May) and Indigenous People’s Day (October).

      And with GMC’s 500+ miles of trails and recommended hikes, it’s easy to explore close to home, across the state, or explore Vermont as a visitor.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
   </div>
 </div>
</div>
<!-- ====================camping============ -->
<br>
<br> 
<h1 class="heading">
 <span>c</span>
 <span>a</span>
 <span>m</span>
 <span>p</span>
 <span>i</span>
 <span>n</span>
 <span>g</span>
 
</h1>
<div class="card-group">
 <div class="card">
   <img src="{% static 'images/cam1.jpg' %}" class="card-img-top" alt="PRIYA">
   <!-- <video src="{% static 'videos/about1.mp4' %}" ></video> -->
   <div class="card-body">
     <h5 class="card-title">Corporate team with a Camp retreat</h5>
     <p class="card-text">Adults camping. Team building programs in a camp setting can provide the unifying experience that turns good teams into great ones, all in a pristine environment with great amenities.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   </div>
 </div>
 <div class="card">
     <img src="{% static 'images/cam2.jpg' %}" class="card-img-top" alt="PRIYA">
    <!-- <video src="{% static 'videos/gallery1.mp4' %}" ></video>  -->
   <div class="card-body">
     <h5 class="card-title">Group campsites</h5>
     <p class="card-text">Looking for a place for your annual family gathering? Why not book a group campsite and spend time together outside enjoying the sun?</p>
     <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
   </div>
 </div>
 <div class="card">
   <!-- <img src="..." class="card-img-top" alt="..."> -->
   <!-- <video src="{% static 'videos/gallery2.mp4' %}" ></video> -->
   <img src="{% static 'images/cam3.jpg' %}" class="card-img-top" alt="PRIYA">
   <v class="card-body">
     <h5 class="card-title">Camping with family</h5>
     <p class="card-text">Planning a Fall Family Camping Trip</p>
     <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
   </div>
 </div>
</div>

   

{% endblock %}


