{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="events">
<center>
  <br>
  <h2>::--UPCOMING EVENTS--::</h2>
  <br>
</center>
<div class="card-group">
    <div class="card">
      <img src="{% static 'images/a1.jpg' %}" class="card-img-top1" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">NAPAL :-</h5>
        <p class="card-text">The event is organised with the support of the Kathmandu Metropolitan City in collaboration with the Nepal Tourism Board and other associations. The event is scheduled to be held from June 14 to 15, 2024 at the Bhrikutimandap Exhibition Hall.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images/a2.jpg' %}" class="card-img-top" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">BHUTAN :-</h5>
        <p class="card-text">The Bhutan festival tour dates 2024 / 2025 are given below. Please note that the festival tour dates given are tentative and are subject to change. Please check with us and re-confirm the dates when you book your trip. All our festival tours in Bhutan are private and guided trips.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images/a3.jpg' %}" class="card-img-top" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">LADAKH :-</h5>
        <p class="card-text">Losar is among the most well-known Ladakh Festivals, a mash-up of rituals, performances, and cultural events. According to the Tibetan calendar, the Losar festival in Ladakh takes place mainly in March.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div><br><br>
<!-- ======================2nd=========== -->
<div class="video">
  <center>
    <h2>OUR LAST TRIPPPPPPPPP OOOOOYEEEEEEEEEE!!!...</h2>
    <br>
    <video width="1100" height="600px" controls>
      <source src="{% static 'videos/n1.jpg.mp4' %}" type="video/mp4">
    </video>
  </center>
</div>

 <!-- ================================================================================camping -->
 <br> 
 <center><h2>-:Plan With Us:-</h2>
<h2>3 Reasons Why You Should Travel More Often</h2></center>
 <br>
 
 <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/p1.jpg' %}" class="d-block w-100" height="600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <center><h5 style="color:blanchedalmond;">How to Plan a Seamless Family Camping Trip</h5>
        <p style="color: blanchedalmond;">Step-by-step guidance on finding a campsite during high season, easy and delicious meal ideas, and games that'll turn your kids into lifelong campers. <br>
          By PRIYA ROY <br>
          April 15, 2021</p></center>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/p2.jpg' %}" class="d-block w-100" height="600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Food Love</h5>
        <p style="color: yellow;">When we travel the one thing that brings us the closest to a new culture is food. When we try a new cuisine, prepared by natives, the pleasure of a holiday just doubles up. Imagine being served a plateful of momos by an old lady in a shack in Tibet or drinking home-made beer in Bratislava or a Chicago Dog in downtown Chicago? It fills you with a different kind of feeling. So if you are a big foodie, you need to travel often to experience new and authentic cuisines. The added advantage is, of course, you will not put on any additional weight, thanks to all the walking and trekking from the trip.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/p3.jpg' %}" class="d-block w-100" height="600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: blanchedalmond;">Enrichment of Knowledge </h5>
        <p style="color: blanchedalmond;">Travelling to new places enriches our knowledge about nature, human life and culture. Whenever we are away from home, we let down our hair and become easy and relaxed. We strike conversations with strangers who soon become friends, add new words to our vocabulary, live in and out of backpacks and suitcases and in the end gain a new perspective to life. So when we are back from our much deserved holiday, we are refreshed and ready to cope with our daily battles even better.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 

 <!-- ======================2n3rd=========== -->
 <center class="events">
  <br>
  <br>
  <h2>::--Why you should travel?--::</h2>
  <br>
 </center>
<div class="card bg-dark text-wight-50 " >
    <img src="{% static 'images/blue.jpg' %}" class="card-img" height="500px" alt="PRIYA">
    <div class="card-img-overlay">
      <h5 style="color:whitesmoke; text-decoration: underline ;" class="card-title">“ ToOo ExpLOrE tHe WoRlD !!!!.....”</h5>
      <center>
      <p style="color:whitesmoke ;" class="card-text1 font-monospace">Try to travel, otherwise <br>
        you may become racist,
        and you may end up believing <br>
        that your skin is the only one
        to be right,
        that your language <br>
        is the most romantic
        and that you were the first
        to be the first. <br>
        
        Travel,
        because if you don't travel then
        your thoughts won’t be strengthened,
        won’t get filled with ideas.
        Your dreams will be born with fragile legs and then you end up believing in tv-shows, and in those who invent enemies
        that fit perfectly with your nightmares
        to make you live in terror.
        
        Travel,
        because travel teaches
        to say good morning to everyone
        regardless of which sun we come from.
        
        Travel,
        because travel teaches
        to say goodnight to everyone
        regardless of the darkness
        that we carry inside.
        
        Travel,
        because traveling teaches to resist,
        not to depend,
        to accept others, not just for who they are
        but also for what they can never be.
        To know what we are capable of,
        to feel part of a family
        beyond borders,
        beyond traditions and culture.
        
        Traveling teaches us to be beyond.
        
        Travel,
        otherwise you end up believing
        that you are made only for a panorama
        and instead inside you
        there are wonderful landscapes
        still to visit. </p>

      <p class="card-text">By PRIYA ROY</p>
    </center>
    </div>
  </div>
</div>
 

{% endblock %}


