{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- =======================1st========== -->
 <div class="rev">
<h1 class="heading">
  <span>l</span>
  <span>a</span>
  <span>t</span>
  <span>e</span>
  <span>s</span>
  <span>t</span>
  <span class="space"></span>
  <span>s</span>
  <span>t</span>
  <span>o</span>
  <span>r</span>
  <span>i</span>
  <span>e</span>
  <span>s</span>
</h1>
<!-- =================colour dot=============== -->
<br>
<center>
<div class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</center>
<br>

<!-- ==============2nd=========== -->
 <div class="container-service">
        <div class="single-box">
          <div class="service">
              <img class="imgservic" src="{%static 'images/rev1.jpg' %}"  height="200px" width="90%" alt="PRIYA">
              <a href="#">Mahabaleshwar</a>
              <p>It features several elevated viewing points, such as Arthur’s Seat.</p>
              <h7>THANK YOU PRIYA FOR PLANING THIS TRIP FOR US</h7>
          </div>
      </div>
      <div class="single-box">
          <div class="service">
              <img class="imgservic" src="{%static 'images/rev5.jpg' %}"  height="200px" width="90%" alt="PRIYA">
              <a href="#">Goa</a>
              <p>This Couple Goes On A Trip To Goa Every Year And They Don’t Plan To Stop</p>
              <h7>THANK YOU PRIYA FOR PLANING THIS TRIP FOR OUR FAMILY</h7>
          </div>
      </div>
      <div class="single-box"> 
          <div class="service">
              <img class="imgservic" src="{%static 'images/rev2.jpg' %}" height="200px" width="90%" alt="PRIYA">
              <a href="#">Atal Tunnel</a>
              <p>The perfect combination of snow, mountains and the inviting environment makes for an amazing skiing trip</p>
              </div>
       </div>
  </div>

  <div class="container-service">
    <div class="single-box">
      <div class="service">
          <img class="imgservic" src="{%static 'images/rev3.jpg' %}"  height="200px" width="90%" alt="PRIYA">
          <a href="#">Vietnam</a>
          <p>its deeply rooted in its rich and ancient culture, which is reflected in its architecture, festivals, arts, and traditions.</p>
        </div>
  </div>
  <div class="single-box">
      <div class="service">
          <img class="imgservic" src="{%static 'images/rev4.jpg' %}"  height="200px" width="90%" alt="PRIYA">
          <a href="#">Taj Mahal</a>
          <p>ताजमहल की यात्रा के लिए आदर्श अवधि प्रत्येक व्यक्ति के लिए अलग-अलग हो सकती है, लेकिन आम तौर पर, स्मारक की भव्यता की सराहना करने,</p>
      </div>
  </div>
  <div class="single-box"> 
      <div class="service">
          <img class="imgservic" src="{%static 'images/rev6.jpg' %}" height="200px" width="90%" alt="PRIYA">
          <a href="#">Shri Lanka</a>
          <p>Sri Lanka, historically known as Ceylon, and officially the Democratic Socialist Republic of Sri Lanka, is an island country in South Asia.</p>
        </div>

  </div>
</div>
</div>






{% endblock %}


